src/*.exe
src/litecoin
src/litecoind
src/test_litecoin
src/mendeleycoin
src/mendeleycoind
src/test_mendeleycoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.litecoin
.mendeleycoin

# Compilation and Qt preprocessor part
*.qm
Makefile
litecoin-qt
mendeleycoin-qt
Mendeleycoin-Qt.app

# Unit-tests
Makefile.test
mendeleycoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
